<li
  class="c-header-nav-item dropdown d-md-down-none mx-2"
  dropdown
  placement="bottom right"
>
  <a
    [routerLink]
    class="c-header-nav-link"
    data-toggle="dropdown"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    dropdownToggle
    (click)="false"
  >
    <c-icon name="cil-bell" size="lg"></c-icon>
    <c-badge shape="pill" color="danger">{{items}}</c-badge>

  </a>
  <div
    class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0"
    *dropdownMenu
    aria-labelledby="notifications-dropdown"
  >
    <div class="dropdown-header bg-light">
      <strong>You have {{items}} notifications</strong>
    </div>
    <a class="dropdown-item" [routerLink] >
      <c-icon name="cil-user-follow" class="mfe-2 text-success"></c-icon>
      New user registered
    </a>
    <a class="dropdown-item" [routerLink] >
      <c-icon name="cil-user-unfollow" class="mfe-2 text-danger"></c-icon>
      User deleted
    </a>
    <a class="dropdown-item" [routerLink] >
      <c-icon name="cil-chart" class="mfe-2 text-info"></c-icon>
      Sales report is ready
    </a>
    <a class="dropdown-item" [routerLink] >
      <c-icon name="cil-basket" class="mfe-2 text-success"></c-icon>
      New client
    </a>
    <a class="dropdown-item" [routerLink] >
      <c-icon name="cil-speedometer" class="mfe-2 text-warning"></c-icon>
      Server overloaded
    </a>
    <div class="dropdown-header bg-light"><strong>Server</strong></div>
    <a class="dropdown-item d-block text-justify" [routerLink] >
      <div class="text-uppercase mb-1">
        <small><b>CPU Usage</b></small>
      </div>
      <c-progress size="xs">
        <c-progress-bar color="info" [value]="25"></c-progress-bar>
      </c-progress>
      <small class="text-muted">348 Processes 1/4 Cores</small>
    </a>
    <a class="dropdown-item d-block text-justify" [routerLink] >
      <div class="text-uppercase mb-1">
        <small><b>Memory Usage</b></small>
      </div>
      <c-progress size="xs">
        <c-progress-bar color="warning" [value]="70"></c-progress-bar>
      </c-progress>
      <small class="text-muted">11444GB/16384MB</small>
    </a>
    <a class="dropdown-item d-block text-justify" [routerLink] >
      <div class="text-uppercase mb-1">
        <small><b>SSD 1 Usage</b></small>
      </div>
      <c-progress size="xs">
        <c-progress-bar color="danger" [value]="95"></c-progress-bar>
      </c-progress>
      <small class="text-muted">243GB/256GB</small>
    </a>
  </div>
</li>
