<router-outlet>
<div *ngIf="route.children.length === 0" class="fade-in">
  <c-card>
    <c-card-header>
      <strong>
        Courts
      </strong> 
      <c-card-header-actions>
        <a
          href="https://github.com/mariuszfoltak/angular2-datatable"
          target="_blank"
          class="card-header-action"
        >
        </a>
      </c-card-header-actions>
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3">
        <c-col md="4" >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input cInput
              [(ngModel)]="filterQuery"
              placeholder="Search by name"
            />
          </div>
        </c-col>
        <div class="col" style="float:right; margin-right: 50px;">
          <button (click)="add()" class="btn btn-primary btn-xs float-right"><i class="cil-tennis-ball"></i> {{'Court.MainPage.AddBtn' | translate}}</button>
        </div>
      </c-row>
      <table
        class="table table-striped table-hover table-responsive-lg"
        [mfData]="dbData?.content | dataFilter: filterQuery"
        #mf="mfDataTable"
        [mfRowsOnPage]="10"
      >
        <thead>
          <tr>
            <th style="width: 15%;">
              <mfDefaultSorter by="EnglishName" #sortEnglishName>
                English Name
                <span
                  *ngIf="sortEnglishName.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortEnglishName.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 10%;">
              <mfDefaultSorter by="ArabicName" #sortArabicName>
                Arabic Name
                <span
                  *ngIf="sortArabicName.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortArabicName.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 10%;">
              <mfDefaultSorter by="price" #sortSize>
                Size
                <span
                  *ngIf="sortSize.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortSize.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 10%;">
              <mfDefaultSorter by="regDate" #sortRegDate>
                Registered
                <span
                  *ngIf="sortRegDate.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortRegDate.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 10%; text-align: right; padding-right: 8%;">
              <mfDefaultSorter by="regDate" #sortActions>
                Actions
                <span
                  *ngIf="sortActions.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortActions.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr [hidden]="!isLoading">
            <td colspan="7">
              <div [hidden]="!isLoading">
                <c-spinkit name="fold"></c-spinkit>
              </div>
            </td>
          </tr>
          <tr *ngFor="let item of mf.data;index as i;">
            <td>{{ item.nameEn }}</td>
            <td>{{ item.nameAr }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.log_date }}</td>
            <td style="text-align: right;">
              <button style="margin-right: 1px;" (click)="showEdit(item)" class="btn btn-outline-info btn-xs"><i class="cil-pencil"></i>  {{'Edit'}}</button> 
               &nbsp;
              <button class="btn btn-danger mr-1" data-toggle="modal" (click)="dangerModal.show();currentIndex = i;"><i class="cil-tennis-ball"></i> {{'Delete'}} </button>
              <!--<button ng-click="delete($i)" class="btn btn-danger mr-1" data-toggle="modal" (click)="dangerModal.show();currentIndex = 0;">Delete</button> -->
            </td>
            <!--            <td>{{ getDate(item.regDate) }}</td>-->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator
                [rowsOnPageSet]="[5, 10, 15]"
              ></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </c-card-body>
  </c-card>
<c-modal #dangerModal color="danger">
    <ng-template #modalHeader>
      <h4 class="c-modal-title">Delete court</h4>
    </ng-template>
    <ng-template #modalBody>
      <p>Are you sure you want to delete this court?</p>
    </ng-template>
    <ng-template #modalFooter>
      <button class="btn" cButton color="secondary" (click)="dangerModal.hide()">Close</button>
      <button class="btn btn-danger mr-1" (click)="deleteCourt(mf.data[currentIndex].id)" cButton color="danger">Delete court</button>
    </ng-template>
  </c-modal>
</div>
<app-toast></app-toast>
</router-outlet>