<div class="fade-in">
  <c-row>
    <c-col lg="6">
      <c-card>
        <c-card-header>
          Badges
          <c-card-header-actions>
            <a href="http://coreui.io/docs/components/bootstrap-badge/" class="c-card-header-action" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          <h1>Example heading
            <c-badge color="secondary">New</c-badge>
          </h1>
          <h2>Example heading
            <c-badge color="secondary">New</c-badge>
          </h2>
          <h3>Example heading
            <c-badge color="secondary">New</c-badge>
          </h3>
          <h4>Example heading
            <c-badge color="secondary">New</c-badge>
          </h4>
          <h5>Example heading
            <c-badge color="secondary">New</c-badge>
          </h5>
          <h6>Example heading
            <c-badge color="secondary">New</c-badge>
          </h6>
        </c-card-body>
        <c-card-footer>
          <button cButton color="primary" type="link" >Notifications
            <c-badge color="light" shape="pill" class="c-ml-1">9</c-badge>
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col lg="6">
      <c-card>
        <c-card-header>
          Badges
          <small>contextual variations</small>
        </c-card-header>
        <c-card-body>
          <c-badge color="primary" class="mx-1">Primary</c-badge>
          <c-badge color="secondary" class="mx-1">Secondary</c-badge>
          <c-badge color="success" class="mx-1">Success</c-badge>
          <c-badge color="danger" class="mx-1">Danger</c-badge>
          <c-badge color="warning" class="mx-1">Warning</c-badge>
          <c-badge color="info" class="mx-1">Info</c-badge>
          <c-badge color="light" class="mx-1">Light</c-badge>
          <c-badge color="dark" class="mx-1">Dark</c-badge>
        </c-card-body>
      </c-card>
      <c-card>
        <c-card-header>
          Badges
          <small>pill badges</small>
        </c-card-header>
        <c-card-body>
          <c-badge shape="pill" color="primary" class="mx-1">Primary</c-badge>
          <c-badge shape="pill" color="secondary" class="mx-1">Secondary</c-badge>
          <c-badge shape="pill" color="success" class="mx-1">Success</c-badge>
          <c-badge shape="pill" color="danger" class="mx-1">Danger</c-badge>
          <c-badge shape="pill" color="warning" class="mx-1">Warning</c-badge>
          <c-badge shape="pill" color="info" class="mx-1">Info</c-badge>
          <c-badge shape="pill" color="light" class="mx-1">Light</c-badge>
          <c-badge shape="pill" color="dark" class="mx-1">Dark</c-badge>
        </c-card-body>
      </c-card>
      <c-card>
        <c-card-header>
          Badges
          <small>links</small>
        </c-card-header>
        <c-card-body>
          <a href="#" class="mx-1">
            <c-badge color="primary">Primary</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="secondary">Secondary</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="success">Success</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="danger">Danger</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="warning">Warning</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="info">Info</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="light">Light</c-badge>
          </a>
          <a href="#" class="mx-1">
            <c-badge color="dark">Dark</c-badge>
          </a>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
