<div class="fade-in">
  <c-row>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-body>
          {{loremText}}
        </c-card-body>
        <c-card-footer>Card footer</c-card-footer>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-header>
          Card with icon
          <c-card-header-actions>
            <i class="cil-check"></i>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-header>
          Card with switch
          <c-card-header-actions style="height: 21px;" >
            <c-switch color="info" size="sm" checked labelOn="On" labelOff="Off"></c-switch>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-header>
          Card with label
          <c-card-header-actions style="height: 21px;" >
            <c-badge color="success">Success</c-badge>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card>
        <c-card-header>
          Card with label
          <c-card-header-actions style="height: 21px;" >
            <c-badge color="danger" pill="true">42</c-badge>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
  </c-row><!--/.row-->
  <c-row>
    <c-col sm="6" md="4">
      <c-card borderColor="primary">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card borderColor="secondary">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card borderColor="success">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card borderColor="info">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card borderColor="warning">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card borderColor="danger">
        <c-card-header>
          Card outline
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row>
    <c-col sm="6" md="4">
      <c-card accentColor="primary">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card accentColor="secondary">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card accentColor="success">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card accentColor="info">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card accentColor="warning">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card accentColor="danger">
        <c-card-header>
          Card with accent
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="primary" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="success" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="info" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="warning" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="danger" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="primary" class="text-center">
        <c-card-body>
          <blockquote class="card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="primary">
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="success">
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="info">
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="warning">
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card textColor="white" color="danger">
        <c-card-header>
          Card title
        </c-card-header>
        <c-card-body>
          {{loremText}}
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6" md="4">
      <c-card color="gradient-dark">
        <c-card-header>
          Card header actions
          <c-card-header-actions style="height: 21px;">
            <button cButton variant="ghost" class="card-header-action"><i class="cil-settings"></i></button>
            <button cButton variant="ghost" class="card-header-action" (click)="toggleCollapse()"><i class="{{currentIcon}}"></i></button>
            <button cButton variant="ghost" class="card-header-action"><i class="cil-x-circle"></i></button>
          </c-card-header-actions>
        </c-card-header>
          <c-card-body cCollapse [show]="!collapsed">
            {{loremText}}
          </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
