<div class="fade-in">
  <c-card>
    <c-card-header>
      <strong>Standard Buttons</strong>
    </c-card-header>
    <c-card-body>
      <c-row class="align-items-center mb-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true">Primary</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true">Secondary</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true">Success</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true">Warning</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true">Danger</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true">Info</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true">Light</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true">Dark</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true">Link</button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mb-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Active State
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" pressed="true">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" pressed="true">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" pressed="true">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" pressed="true">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" pressed="true">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" pressed="true">
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" pressed="true">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" pressed="true">
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true" pressed="true">
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Disabled
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" [disabled]="true">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" [disabled]="true">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" [disabled]="true">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" [disabled]="true">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" [disabled]="true">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" [disabled]="true">
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" [disabled]="true">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" [disabled]="true">
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true" [disabled]="true">
            Link
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>Outline Buttons</strong>
    </c-card-header>
    <c-card-body>
      <p>Use <code>.btn-outline-*</code> class for outline buttons.</p>
      <c-row class="align-items-center mb-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" variant="outline">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" variant="outline">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" variant="outline">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" variant="outline">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" variant="outline">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" variant="outline">
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" variant="outline">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" variant="outline">
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true" variant="outline">
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Active State
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="link"
            [block]="true"
            variant="outline"
            [pressed]="true"
          >
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Disabled
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            variant="outline"
            [disabled]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0"></c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>Ghost Buttons</strong>
    </c-card-header>
    <c-card-body>
      <p>Use <code>.btn-ghost-*</code> class for ghost buttons.</p>
      <c-row class="align-items-center">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" variant="ghost">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" variant="ghost">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" variant="ghost">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" variant="ghost">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" variant="ghost">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" variant="ghost">
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" variant="ghost">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" variant="ghost">
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0"></c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Active State
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            variant="ghost"
            [pressed]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0"></c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Disabled
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            variant="ghost"
            [disabled]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0"></c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>Square Buttons</strong>
    </c-card-header>
    <c-card-body>
      <p>Use <code>.btn-square</code> class for square buttons.</p>
      <c-row class="align-items-center">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" shape="square">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" shape="square">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" shape="square">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" shape="square">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" shape="square">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" shape="square">
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" shape="square">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" shape="square">
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true" shape="square">
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Active State
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="link"
            [block]="true"
            shape="square"
            [pressed]="true"
          >
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Disabled
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="link"
            [block]="true"
            shape="square"
            [disabled]="true"
          >
            Link
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>Pill Buttons</strong>
    </c-card-header>
    <c-card-body>
      <p>Use <code>.btn-pill</code> class for pill buttons.</p>
      <c-row class="align-items-center">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="primary" [block]="true" shape="pill">
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="secondary" [block]="true" shape="pill">
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="success" [block]="true" shape="pill">
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="warning" [block]="true" shape="pill">
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="danger" [block]="true" shape="pill">
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="info" [block]="true" shape="pill">Info</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="light" [block]="true" shape="pill">
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="dark" [block]="true" shape="pill">Dark</button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button cButton color="link" [block]="true" shape="pill">Link</button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Active State
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="link"
            [block]="true"
            shape="pill"
            [pressed]="true"
          >
            Link
          </button>
        </c-col>
      </c-row>
      <c-row class="align-items-center mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Disabled
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="primary"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Primary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="secondary"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Secondary
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="success"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Success
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="warning"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Warning
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="danger"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Danger
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="info"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Info
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="light"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Light
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="dark"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Dark
          </button>
        </c-col>
        <c-col xs="6" sm="4" md="2" col="xl" class="mb-3 mb-xl-0">
          <button
            cButton
            color="link"
            [block]="true"
            shape="pill"
            [disabled]="true"
          >
            Link
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>Sizes</strong>
    </c-card-header>
    <c-card-body>
      <p>
        Fancy larger or smaller buttons? Add <code>.btn-lg</code> or
        <code>.btn-sm</code> for additional sizes.
      </p>
      <c-row alignV="center">
        <!--        <c-col class="col-12 col-xl mb-3 mb-xl-0">-->
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Small add <code>.btn-sm</code>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="primary" size="sm">Standard Button</button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="secondary" size="sm" variant="outline">
            Outline Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="success" size="sm" variant="ghost">
            Ghost Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="warning" size="sm" shape="square">
            Square Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="danger" size="sm" shape="pill">
            Pill Button
          </button>
        </c-col>
      </c-row>
      <c-row alignV="center" class="mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Normal
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="primary">Standard Button</button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="secondary" variant="outline">
            Outline Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="success" variant="ghost">Ghost Button</button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="warning" shape="square">Square Button</button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="danger" shape="pill">Pill Button</button>
        </c-col>
      </c-row>
      <c-row alignV="center" class="mt-3">
        <c-col col="xl" xs="12" class="mb-3 mb-xl-0">
          Large add <code>.btn-lg</code>.
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="primary" size="lg">Standard Button</button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="secondary" size="lg" variant="outline">
            Outline Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="success" size="lg" variant="ghost">
            Ghost Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="warning" size="lg" shape="square">
            Square Button
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center mb-xl-0">
          <button cButton color="danger" size="lg" shape="pill">
            Pill Button
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-card>
    <c-card-header>
      <strong>With Icons</strong>
    </c-card-header>
    <c-card-body>
      <c-row alignV="center" class="mt-3">
        <c-col col="md" sm="4" class="mb-3 text-center">
          <button cButton color="primary">
            <c-icon name="cil-lightbulb"></c-icon>
            <span>&nbsp;Standard Button</span>
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center">
          <button cButton color="secondary" variant="outline">
            <c-icon name="cil-lightbulb"></c-icon>
            <span>&nbsp;Outline Button</span>
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center">
          <button cButton color="success" variant="ghost">
            <c-icon name="cil-lightbulb"></c-icon>
            <span>&nbsp;Ghost Button</span>
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center">
          <button cButton color="warning" shape="square">
            <c-icon name="cil-lightbulb"></c-icon>
            <span>&nbsp;Square Button</span>
          </button>
        </c-col>
        <c-col col="md" sm="4" class="mb-3 text-center">
          <button cButton color="danger" shape="pill">
            <c-icon name="cil-lightbulb"></c-icon>
            <span>&nbsp;Pill Button</span>
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <c-row>
    <c-col md="6">
      <c-card>
        <c-card-header>
          <strong>Block Level Buttons</strong>
        </c-card-header>
        <c-card-body>
          <p>Add this class<code>.btn-block</code></p>
          <button cButton color="secondary" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="primary" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="success" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="info" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="warning" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="danger" [block]="true" size="lg">
            Block level button
          </button>
          <button cButton color="link" [block]="true" size="lg">
            Block level button
          </button>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col md="6">
      <c-card>
        <c-card-header>
          <strong>Block Level Buttons</strong>
        </c-card-header>
        <c-card-body>
          <p>Add this class<code>.btn-block</code></p>
          <button
            cButton
            color="secondary"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
          <button
            cButton
            color="primary"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
          <button
            cButton
            color="success"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
          <button
            cButton
            color="info"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
          <button
            cButton
            color="warning"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
          <button
            cButton
            color="danger"
            [block]="true"
            variant="outline"
            size="lg"
          >
            Block level button
          </button>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
