<c-container>
  <c-row class="justify-content-center">
    <c-col md="8">
      <c-card-group>
        <c-card class="p-4">
          <c-card-body>
            <form>
              <h1>Change Password</h1>
              <p class="text-muted">You have to change your password to proceed</p>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-lock-locked"></c-icon>
                  </span>
                </div>
                <input cInput
                  name="oldPass"
                  type="password"
                  [(ngModel)]="oldPass"
                  placeholder="Current Password"
                  autocomplete="false"
                  required
                />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-lock-locked"></c-icon>
                  </span>
                </div>
                <input cInput
                  name="newPass"
                  type="password"
                  [(ngModel)]="newPass"
                  placeholder="New Password"
                  autocomplete="false"
                  required
                />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-lock-locked"></c-icon>
                  </span>
                </div>
                <input cInput
                  name="confirmPass"
                  type="password"
                  [(ngModel)]="confirmPass"
                  placeholder="Confirm Password"
                  autocomplete="false"
                  required
                />
              </div>
              <div>
                <p style="text-align: center;
                font-size: 15px;
                font-weight: 500;
                color: red;">{{errMsg}}</p>
              </div>
              <c-row>
                <c-col col="6">
                  <button cButton color="primary" class="px-4" (click)="changePassword()" [disabled]="isLoading">
                    <span [hidden]="isLoading">Confirm</span>
                    <c-spinner size="sm" role="status" [hidden]="!isLoading"></c-spinner>
                  </button>
                </c-col>
              </c-row>
            </form>
          </c-card-body>
        </c-card>
      </c-card-group>
    </c-col>
  </c-row>
</c-container>
