<!--sidebar-->
<c-sidebar #sidebar="cSidebar" id="sidebar" unfoldable="unfoldable">
  <img class="logo" src="assets/img/logo.png" />
  <!-- <c-sidebar-brand
    [routerLink]="null"
    [brandFull]="{
      src: 'assets/img/logo.png',
      width: 126,
      height: 50,
      alt: 'Arena Club'
    }"
    [brandMinimized]="{
      src: 'assets/img/logoICO.ico',
      width: 46,
      height: 46,
      alt: 'Arena Club'
    }"
  >
  </c-sidebar-brand> -->
  <c-sidebar-nav
    [navItems]="navItems"
    [perfectScrollbar]="perfectScrollbarConfig"
    [disabled]="sidebar?.minimized"
    dropdownMode="closeInactive"
    *ngIf="!isStaff"
  ></c-sidebar-nav>
  <c-sidebar-nav
  [navItems]="navStaffItems"
  [perfectScrollbar]="perfectScrollbarConfig"
  [disabled]="sidebar?.minimized"
  dropdownMode="closeInactive"
  *ngIf="isStaff"
  ></c-sidebar-nav>
  <c-sidebar-nav
  [navItems]="navComponentItems"
  [perfectScrollbar]="perfectScrollbarConfig"
  [disabled]="sidebar?.minimized"
  dropdownMode="closeInactive"
  *ngIf="!env.production"
  ></c-sidebar-nav>
  <c-sidebar-minimizer cSidebarMinimize="sidebar"></c-sidebar-minimizer>
</c-sidebar>
<!--aside-->
<!-- <c-sidebar
  id="aside"
  #aside="cSidebar"
  [aside]="true"
  colorScheme="light"
  [overlaid]="true"
  size="lg"
  [show]="false"
  [breakpoint]="false"
  [mobile]="'xl'"
> -->
<!--  cOutClick-->
  <!--aside internal toggler-->
  <!-- <c-toggler cSidebarToggle="aside">
    <button [class]="'c-sidebar-close'" type="button">
      <c-icon name="cil-x"></c-icon>
    </button>
  </c-toggler>
  <!--aside content-->
  <!-- <app-default-aside></app-default-aside> --> 
<!-- </c-sidebar> -->

<!--main-->
<c-wrapper>
  <!--header-->
  <app-default-header [fixed]="true"></app-default-header>
  <!--app body-->
  <c-body>
    <main class="c-main">
      <c-container [fluid]="true">
        <router-outlet></router-outlet>
      </c-container>
    </main>
    <!--app footer-->
  </c-body>
  <c-footer>
    <div>
      <a href="https://arenaclub.io" target="_blank">
        Arena Club
      </a>
      <span> &copy; 2021</span>
    </div>
    <div class="mfs-auto">
      Powered by
      <a href="https://scopx.com/" target="_blank">
        <span> ScopX</span>
      </a>
    </div>
  </c-footer>
</c-wrapper>
