<div class="fade-in">
  <c-row>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group
          <c-card-header-actions>
            <a class="card-header-action" href="https://coreui.io/docs/components/bootstrap-list-group/" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          <ul cListGroup>
            <li cListGroupItem [active]="true">Cras justo odio</li>
            <li cListGroupItem>Dapibus ac facilisis in</li>
            <li cListGroupItem>Morbi leo risus</li>
            <li cListGroupItem>Porta ac consectetur ac</li>
            <li cListGroupItem [disabled]="true" >Vestibulum at eros</li>
          </ul>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>with flush</small>
        </c-card-header>
        <c-card-body>
          <div cListGroup [flush]="true">
            <a cListGroupItem active="true" [routerLink]>Cras justo odio</a>
            <a cListGroupItem [action]="true" [routerLink]>Dapibus ac facilisis in</a>
            <a cListGroupItem [action]="true" [routerLink]>Morbi leo risus</a>
            <a cListGroupItem [action]="true" [routerLink]>Porta ac consectetur ac</a>
            <a cListGroupItem [action]="true" [disabled]="true" [routerLink]>Vestibulum at eros</a>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>with badges</small>
        </c-card-header>
        <c-card-body>
          <ul cListGroup>
            <li cListGroupItem [action]="true" class="d-flex justify-content-between align-items-center">Cras justo odio<c-badge color="primary" pill="true">14</c-badge></li>
            <li cListGroupItem [action]="true" class="d-flex justify-content-between align-items-center">Dapibus ac facilisis in<c-badge color="primary" pill="true">2</c-badge></li>
            <li cListGroupItem [action]="true" class="d-flex justify-content-between align-items-center">Morbi leo risus<c-badge color="primary" pill="true">1</c-badge></li>
            <li cListGroupItem [action]="true" class="d-flex justify-content-between align-items-center">Porta ac consectetur<c-badge color="primary" pill="true">1</c-badge></li>
            <li cListGroupItem [action]="true" class="d-flex justify-content-between align-items-center" [disabled]="true">Vestibulum at eros<c-badge color="secondary" pill="true">42</c-badge></li>
          </ul>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>buttons with disabled items</small>
        </c-card-header>
        <c-card-body>
          <div cListGroup>
            <button cListGroupItem [action]="true" active="true" type="button">Cras justo odio</button>
            <button cListGroupItem [action]="true" type="button">Dapibus ac facilisis in</button>
            <button cListGroupItem [action]="true" type="button">Morbi leo risus</button>
            <button cListGroupItem [action]="true" type="button">Porta ac consectetur ac</button>
            <button cListGroupItem [action]="true" type="button" disabled>Vestibulum at eros</button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>contextual classes with <code>accent</code> and <code>action</code></small>
        </c-card-header>
        <c-card-body>
          <ul cListGroup [accent]="true">
            <li cListGroupItem [action]="true" accent="danger">Dapibus ac facilisis in</li>
            <li cListGroupItem [action]="true" accent="primary" color="primary">This is a primary list group item</li>
            <li cListGroupItem [action]="true" accent="secondary" color="secondary">This is a secondary list group item</li>
            <li cListGroupItem [action]="true" accent="success" color="success">This is a success list group item</li>
            <li cListGroupItem [action]="true" accent="danger" color="danger">This is a danger list group item</li>
            <li cListGroupItem [action]="true" accent="warning" color="warning">This is a warning list group item</li>
            <li cListGroupItem [action]="true" accent="info" color="info">This is a info list group item</li>
            <li cListGroupItem [action]="true" accent="light" color="light">This is a light list group item</li>
            <li cListGroupItem [action]="true" accent="dark" color="dark">This is a dark list group item</li>
          </ul>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>contextual with <code>action</code></small>
        </c-card-header>
        <c-card-body>
          <div cListGroup>
            <a cListGroupItem [action]="true" [routerLink]>Dapibus ac facilisis in</a>
            <a cListGroupItem [action]="true" color="primary" [routerLink]>This is a primary list group item</a>
            <a cListGroupItem [action]="true" color="secondary" [routerLink]>This is a secondary list group item</a>
            <a cListGroupItem [action]="true" color="success" [routerLink]>This is a success list group item</a>
            <a cListGroupItem [action]="true" color="danger" [routerLink]>This is a danger list group item</a>
            <a cListGroupItem [action]="true" color="warning" [routerLink]>This is a warning list group item</a>
            <a cListGroupItem [action]="true" color="info" [routerLink]>This is a info list group item</a>
            <a cListGroupItem [action]="true" color="light" [routerLink]>This is a light list group item</a>
            <a cListGroupItem [action]="true" color="dark" [routerLink]>This is a dark list group item</a>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="12" xl="6">
      <c-card>
        <c-card-header>
          List group <small>custom content</small>
        </c-card-header>
        <c-card-body>
          <div cListGroup>
            <a cListGroupItem [action]="true" [active]="true" class="flex-column align-items-start" [routerLink]>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a cListGroupItem [action]="true" class="flex-column align-items-start" [routerLink]>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a cListGroupItem [action]="true" class="flex-column align-items-start" [routerLink]>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
<!--    <c-col sm="12" xl="6">-->
<!--      <c-card>-->
<!--        <c-card-header>-->
<!--          <i class="fa fa-align-justify"></i> List group <small>tab</small> <code> to do!</code>-->
<!--        </c-card-header>-->
<!--        <c-card-body>-->
<!--          <c-row>-->
<!--            <c-col col="3">-->
<!--              <div cListGroup id="list-tab" role="tablist">-->
<!--                <a cListGroupItem [action]="true" active="true" id="list-home-list" data-toggle="tab" [routerLink]="'#list-home'" role="tab" aria-controls="list-home" aria-selected="true">Home</a>-->
<!--                <a cListGroupItem [action]="true" id="list-profile-list" data-toggle="tab" [routerLink]="'#list-profile'" role="tab" aria-controls="list-profile" aria-selected="false">Profile</a>-->
<!--                <a cListGroupItem [action]="true" id="list-messages-list" data-toggle="tab" href="#list-messages" role="tab" aria-controls="list-messages" aria-selected="false">Messages</a>-->
<!--                <a cListGroupItem [action]="true" id="list-settings-list" data-toggle="tab" href="#list-settings" role="tab" aria-controls="list-settings" aria-selected="false">Settings</a>-->
<!--              </div>-->
<!--            </c-col>-->
<!--            <c-col col="9">-->
<!--              <div class="tab-content" id="nav-tabContent">-->
<!--                <div class="tab-pane fade active show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">-->
<!--                  <p>Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor. Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut. Mollit voluptate reprehenderit occaecat nisi ad non minim tempor sunt voluptate consectetur exercitation id ut nulla. Ea et fugiat aliquip nostrud sunt incididunt consectetur culpa aliquip eiusmod dolor. Anim ad Lorem aliqua in cupidatat nisi enim eu nostrud do aliquip veniam minim.</p>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">-->
<!--                  <p>Cupidatat quis ad sint excepteur laborum in esse qui. Et excepteur consectetur ex nisi eu do cillum ad laborum. Mollit et eu officia dolore sunt Lorem culpa qui commodo velit ex amet id ex. Officia anim incididunt laboris deserunt anim aute dolor incididunt veniam aute dolore do exercitation. Dolor nisi culpa ex ad irure in elit eu dolore. Ad laboris ipsum reprehenderit irure non commodo enim culpa commodo veniam incididunt veniam ad.</p>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">-->
<!--                  <p>Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.</p>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">-->
<!--                  <p>Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </c-col>-->
<!--          </c-row>-->
<!--        </c-card-body>-->
<!--      </c-card>-->
<!--    </c-col>-->
  </c-row>
</div>
