<div class="fade-in">
  <c-row>
    <c-col col="12">
      <c-card>
        <c-card-header><strong>Brand Buttons</strong></c-card-header>
        <c-card-body>
          <h6>
            Size Small <small><code>size="sm"</code></small>
          </h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook" size="sm">
              <c-icon name="cib-facebook-f" size="sm"></c-icon>
              <span class="mfs-2">Facebook</span>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter" size="sm">
              <c-icon name="cib-twitter" size="sm"></c-icon>
              <span class="mfs-2">Twitter</span>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin" size="sm">
              <c-icon name="cib-linkedin" size="sm"></c-icon>
              <span class="mfs-2">LinkedIn</span>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr" size="sm">
              <c-icon name="cib-flickr" size="sm"></c-icon>
              <span class="mfs-2">Flickr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr" size="sm">
              <c-icon name="cib-tumblr" size="sm"></c-icon>
              <span class="mfs-2">Tumblr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="xing" size="sm">
              <c-icon name="cib-xing" size="sm"></c-icon>
              <span class="mfs-2">Xing</span>
            </button>
            <button cButton class="mr-1 mb-1" color="github" size="sm">
              <c-icon name="cib-github" size="sm"></c-icon>
              <span class="mfs-2">Github</span>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow" size="sm">
              <c-icon name="cib-stackoverflow" size="sm"></c-icon>
              <span class="mfs-2">StackOverflow</span>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube" size="sm">
              <c-icon name="cib-youtube" size="sm"></c-icon>
              <span class="mfs-2">YouTube</span>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble" size="sm">
              <c-icon name="cib-dribbble" size="sm"></c-icon>
              <span class="mfs-2">Dribbble</span>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram" size="sm">
              <c-icon name="cib-instagram" size="sm"></c-icon>
              <span class="mfs-2">Instagram</span>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest" size="sm">
              <c-icon name="cib-pinterest" size="sm"></c-icon>
              <span class="mfs-2">Pinterest</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vk" size="sm">
              <c-icon name="cib-vk" size="sm"></c-icon>
              <span class="mfs-2">VK</span>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo" size="sm">
              <c-icon name="cib-yahoo" size="sm"></c-icon>
              <span class="mfs-2">Yahoo</span>
            </button>
            <button cButton class="mr-1 mb-1" color="behance" size="sm">
              <c-icon name="cib-behance" size="sm"></c-icon>
              <span class="mfs-2">Behance</span>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit" size="sm">
              <c-icon name="cib-reddit" size="sm"></c-icon>
              <span class="mfs-2">Reddit</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo" size="sm">
              <c-icon name="cib-vimeo" size="sm"></c-icon>
              <span class="mfs-2">Vimeo</span>
            </button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook">
              <c-icon name="cib-facebook-f"></c-icon>
              <span class="mfs-2">Facebook</span>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter">
              <c-icon name="cib-twitter"></c-icon>
              <span class="mfs-2">Twitter</span>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin">
              <c-icon name="cib-linkedin"></c-icon>
              <span class="mfs-2">LinkedIn</span>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr">
              <c-icon name="cib-flickr"></c-icon>
              <span class="mfs-2">Flickr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr">
              <c-icon name="cib-tumblr"></c-icon>
              <span class="mfs-2">Tumblr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="xing">
              <c-icon name="cib-xing"></c-icon>
              <span class="mfs-2">Xing</span>
            </button>
            <button cButton class="mr-1 mb-1" color="github">
              <c-icon name="cib-github"></c-icon>
              <span class="mfs-2">Github</span>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow">
              <c-icon name="cib-stackoverflow"></c-icon>
              <span class="mfs-2">StackOverflow</span>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube">
              <c-icon name="cib-youtube"></c-icon>
              <span class="mfs-2">YouTube</span>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble">
              <c-icon name="cib-dribbble"></c-icon>
              <span class="mfs-2">Dribbble</span>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram">
              <c-icon name="cib-instagram"></c-icon>
              <span class="mfs-2">Instagram</span>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest">
              <c-icon name="cib-pinterest"></c-icon>
              <span class="mfs-2">Pinterest</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vk">
              <c-icon name="cib-vk"></c-icon>
              <span class="mfs-2">VK</span>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo">
              <c-icon name="cib-yahoo"></c-icon>
              <span class="mfs-2">Yahoo</span>
            </button>
            <button cButton class="mr-1 mb-1" color="behance">
              <c-icon name="cib-behance"></c-icon>
              <span class="mfs-2">Behance</span>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit">
              <c-icon name="cib-reddit"></c-icon>
              <span class="mfs-2">Reddit</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo">
              <c-icon name="cib-vimeo"></c-icon>
              <span class="mfs-2">Vimeo</span>
            </button>
          </p>
          <h6>
            Size Large <small><code>size="lg"</code></small>
          </h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook" size="lg">
              <c-icon name="cib-facebook-f" size="lg"></c-icon>
              <span class="mfs-2">Facebook</span>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter" size="lg">
              <c-icon name="cib-twitter" size="lg"></c-icon>
              <span class="mfs-2">Twitter</span>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin" size="lg">
              <c-icon name="cib-linkedin" size="lg"></c-icon>
              <span class="mfs-2">LinkedIn</span>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr" size="lg">
              <c-icon name="cib-flickr" size="lg"></c-icon>
              <span class="mfs-2">Flickr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr" size="lg">
              <c-icon name="cib-tumblr" size="lg"></c-icon>
              <span class="mfs-2">Tumblr</span>
            </button>
            <button cButton class="mr-1 mb-1" color="xing" size="lg">
              <c-icon name="cib-xing" size="lg"></c-icon>
              <span class="mfs-2">Xing</span>
            </button>
            <button cButton class="mr-1 mb-1" color="github" size="lg">
              <c-icon name="cib-github" size="lg"></c-icon>
              <span class="mfs-2">Github</span>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow" size="lg">
              <c-icon name="cib-stackoverflow" size="lg"></c-icon>
              <span class="mfs-2">StackOverflow</span>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube" size="lg">
              <c-icon name="cib-youtube" size="lg"></c-icon>
              <span class="mfs-2">YouTube</span>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble" size="lg">
              <c-icon name="cib-dribbble" size="lg"></c-icon>
              <span class="mfs-2">Dribbble</span>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram" size="lg">
              <c-icon name="cib-instagram" size="lg"></c-icon>
              <span class="mfs-2">Instagram</span>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest" size="lg">
              <c-icon name="cib-pinterest" size="lg"></c-icon>
              <span class="mfs-2">Pinterest</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vk" size="lg">
              <c-icon name="cib-vk" size="lg"></c-icon>
              <span class="mfs-2">VK</span>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo" size="lg">
              <c-icon name="cib-yahoo" size="lg"></c-icon>
              <span class="mfs-2">Yahoo</span>
            </button>
            <button cButton class="mr-1 mb-1" color="behance" size="lg">
              <c-icon name="cib-behance" size="lg"></c-icon>
              <span class="mfs-2">Behance</span>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit" size="lg">
              <c-icon name="cib-reddit" size="lg"></c-icon>
              <span class="mfs-2">Reddit</span>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo" size="lg">
              <c-icon name="cib-vimeo" size="lg"></c-icon>
              <span class="mfs-2">Vimeo</span>
            </button>
          </p>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col col="12">
      <c-card>
        <c-card-header>
          <strong>Brand Buttons</strong><small>&nbsp;Only icons</small>
        </c-card-header>
        <c-card-body>
          <h6>
            Size Small <small><code>size="sm"</code></small>
          </h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook" size="sm">
              <c-icon name="cib-facebook-f" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter" size="sm">
              <c-icon name="cib-twitter" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin" size="sm">
              <c-icon name="cib-linkedin" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr" size="sm">
              <c-icon name="cib-flickr" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr" size="sm">
              <c-icon name="cib-tumblr" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="xing" size="sm">
              <c-icon name="cib-xing" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="github" size="sm">
              <c-icon name="cib-github" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow" size="sm">
              <c-icon name="cib-stackoverflow" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube" size="sm">
              <c-icon name="cib-youtube" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble" size="sm">
              <c-icon name="cib-dribbble" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram" size="sm">
              <c-icon name="cib-instagram" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest" size="sm">
              <c-icon name="cib-pinterest" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vk" size="sm">
              <c-icon name="cib-vk" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo" size="sm">
              <c-icon name="cib-yahoo" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="behance" size="sm">
              <c-icon name="cib-behance" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit" size="sm">
              <c-icon name="cib-reddit" size="sm"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo" size="sm">
              <c-icon name="cib-vimeo" size="sm"></c-icon>
            </button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook">
              <c-icon name="cib-facebook-f"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter">
              <c-icon name="cib-twitter"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin">
              <c-icon name="cib-linkedin"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr">
              <c-icon name="cib-flickr"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr">
              <c-icon name="cib-tumblr"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="xing">
              <c-icon name="cib-xing"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="github">
              <c-icon name="cib-github"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow">
              <c-icon name="cib-stackoverflow"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube">
              <c-icon name="cib-youtube"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble">
              <c-icon name="cib-dribbble"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram">
              <c-icon name="cib-instagram"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest">
              <c-icon name="cib-pinterest"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vk">
              <c-icon name="cib-vk"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo">
              <c-icon name="cib-yahoo"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="behance">
              <c-icon name="cib-behance"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit">
              <c-icon name="cib-reddit"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo">
              <c-icon name="cib-vimeo"></c-icon>
            </button>
          </p>
          <h6>
            Size Large <small><code>size="lg"</code></small>
          </h6>
          <p>
            <button cButton class="mr-1 mb-1" color="facebook" size="lg">
              <c-icon name="cib-facebook-f" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="twitter" size="lg">
              <c-icon name="cib-twitter" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="linkedin" size="lg">
              <c-icon name="cib-linkedin" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="flickr" size="lg">
              <c-icon name="cib-flickr" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="tumblr" size="lg">
              <c-icon name="cib-tumblr" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="xing" size="lg">
              <c-icon name="cib-xing" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="github" size="lg">
              <c-icon name="cib-github" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="stack-overflow" size="lg">
              <c-icon name="cib-stackoverflow" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="youtube" size="lg">
              <c-icon name="cib-youtube" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="dribbble" size="lg">
              <c-icon name="cib-dribbble" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="instagram" size="lg">
              <c-icon name="cib-instagram" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="pinterest" size="lg">
              <c-icon name="cib-pinterest" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vk" size="lg">
              <c-icon name="cib-vk" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="yahoo" size="lg">
              <c-icon name="cib-yahoo" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="behance" size="lg">
              <c-icon name="cib-behance" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="reddit" size="lg">
              <c-icon name="cib-reddit" size="lg"></c-icon>
            </button>
            <button cButton class="mr-1 mb-1" color="vimeo" size="lg">
              <c-icon name="cib-vimeo" size="lg"></c-icon>
            </button>
          </p>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
