<router-outlet>
<div class="fade-in">
  <c-card>
    <c-card-header>
      <strong>
        Payments
      </strong> 
      <c-card-header-actions>
        <a
          href="https://github.com/mariuszfoltak/angular2-datatable"
          target="_blank"
          class="card-header-action"
        >
        </a>
      </c-card-header-actions>
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3">
        <c-col md="4" >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input cInput
              [(ngModel)]="filterQuery"
              placeholder="Search by name"
            />
          </div>
        </c-col>
      </c-row>
      <table
        class="table table-striped table-hover table-responsive-lg"
        [mfData]="dbData?.content | dataFilter: filterQuery"
        #mf="mfDataTable"
        [mfRowsOnPage]="10"
        id = "testTable"
      >
        <thead>
          <tr>
            <th style="width: 15%;">
              <mfDefaultSorter by="month" #sortMonth>
                Report Month
                <span
                  *ngIf="sortMonth.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortMonth.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 5%;">
              <mfDefaultSorter by="payStatus" #sortPayStatus>
                Paid Status
                <span
                  *ngIf="sortPayStatus.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortPayStatus.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
            <th style="width: 10%; text-align: right; padding-right: 8%;">
              <mfDefaultSorter by="regDate" #sortActions>
                Actions
                <span
                  *ngIf="sortActions.isSortedByMeAsc"
                  class="cil-arrow-top"
                  aria-hidden="true"
                ></span>
                <span
                  *ngIf="sortActions.isSortedByMeDesc"
                  class="cil-arrow-bottom"
                  aria-hidden="true"
                ></span>
              </mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr [hidden]="!isLoading">
            <td colspan="7">
              <div [hidden]="!isLoading">
                <c-spinkit name="fold"></c-spinkit>
              </div>
            </td>
          </tr>
          <tr *ngFor="let item of mf.data;index as i;">
            <td>{{ item.paymentMonth }}</td>
            <td>{{ item.batchPaymentStatus }}</td>
            <td style="text-align: right; padding-right: 5%;">
              <button style="margin-right: 1px;" (click)="showEdit(item)" class="btn btn-outline-info btn-xs"><i class="cil-info"></i>  {{'Summary'}}</button> 
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <mfBootstrapPaginator
                [rowsOnPageSet]="[5, 10, 15]"
              ></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </c-card-body>
  </c-card>
<c-modal #dangerModal color="danger">
    <ng-template #modalHeader>
      <h4 class="c-modal-title">Delete user</h4>
    </ng-template>
    <ng-template #modalBody>
      <p>Are you sure you want to delete this user?</p>
    </ng-template>
    <ng-template #modalFooter>
      <button class="btn" cButton color="secondary" (click)="dangerModal.hide()">Close</button>
      <button class="btn btn-danger mr-1" (click)="deleteUser(mf.data[currentIndex])" cButton color="danger">Delete user</button>
    </ng-template>
  </c-modal>
</div>
<app-toast></app-toast>
</router-outlet>