<div class="fade-in">
  <c-row>
    <c-col sm="6">
      <c-card>
        <c-card-header>
          Bootstrap Jumbotron
          <c-card-header-actions>
            <a
              href="https://coreui.io/docs/components/jumbotron"
              rel="noreferrer noopener"
              target="_blank"
              class="card-header-action">
              <small class="text-muted">docs</small>
            </a>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <button cButton [routerLink] target="_self" color="primary" size="lg">Learn more</button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col sm="6">
      <c-card>
        <c-card-header>
          Bootstrap Jumbotron<small> fluid</small>
        </c-card-header>
        <c-card-body>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3">Fluid jumbotron</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
