<app-mail-toolbar></app-mail-toolbar>
<div class="c-messages">
  <app-inbox-message [routerLink]="'message'"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'"></app-inbox-message>
  <app-inbox-message [routerLink]="'message'" [read]="true"></app-inbox-message>
</div>
