<div class="fade-in">
  <c-row>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-success"
        footer="Lorem ipsum dolor sit amet enim."
        header="89.9%"
        text="Lorem ipsum..."
        [value]="25">
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-info"
        footer="Lorem ipsum dolor sit amet enim."
        header="12.124"
        text="Lorem ipsum..."
        [value]="25">
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-warning"
        footer="Lorem ipsum dolor sit amet enim."
        header="{{98111.00 | currency:'USD'}}"
        text="Lorem ipsum..."
        [value]="25">
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-danger"
        footer="Lorem ipsum dolor sit amet enim."
        header="2 TB"
        text="Lorem ipsum..."
        [value]="25">
      </c-widget-progress>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="6" lg="3">
      <c-widget-progress
        header="89.9%"
        text="Lorem ipsum..."
        footer="Lorem ipsum dolor sit amet enim."
        color="gradient-success"
        value="25"
        [inverse]="true"
      >
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-info"
        footer="Lorem ipsum dolor sit amet enim."
        header="12.124"
        text="Lorem ipsum..."
        [value]="25"
        [inverse]="true">
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-warning"
        footer="Lorem ipsum dolor sit amet enim."
        header="{{98111.00 | currency:'USD'}}"
        text="Lorem ipsum..."
        [value]="25"
        [inverse]="true">
      </c-widget-progress>
    </c-col>
    <c-col sm="6" lg="3">
      <c-widget-progress
        color="gradient-danger"
        footer="Lorem ipsum dolor sit amet enim."
        header="2 TB"
        text="Lorem ipsum..."
        [value]="25"
        [inverse]="true">
      </c-widget-progress>
    </c-col>
  </c-row>
  <c-row>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-primary"
      >
        <c-icon name="cil-settings" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-info"
      >
        <c-icon name="cil-laptop" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-warning"
      >
        <c-icon name="cil-moon" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-danger"
      >
        <c-icon name="cil-bell" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
  </c-row>
  <c-row>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-primary"
        [iconPadding]="false"
      >
        <c-icon name="cil-settings" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-info"
        [iconPadding]="false"
      >
        <c-icon name="cil-laptop" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-warning"
        [iconPadding]="false"
      >
        <c-icon name="cil-moon" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="3">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-danger"
        [iconPadding]="false"
      >
        <c-icon name="cil-bell" width="24"></c-icon>
      </c-widget-icon>
    </c-col>
  </c-row>
  <c-row>
    <c-col col="12" sm="6" lg="4">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-primary"
        [iconPadding]="false"
      >
        <c-icon name="cil-settings" class="mx-5 " width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="4">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-primary"
        [iconPadding]="false"
      >
        <c-icon name="cil-settings" class="mx-5 " width="24"></c-icon>
      </c-widget-icon>
    </c-col>
    <c-col col="12" sm="6" lg="4">
      <c-widget-icon
        header="$1.999,50"
        text="Income"
        color="gradient-warning"
        [iconPadding]="false"
      >
        <c-icon name="cil-laptop" class="mx-5 " width="24"></c-icon>
        <c-card-footer class="px-3 py-2" slot="footer">
          <a
            class="font-weight-bold font-xs text-muted d-flex justify-content-between"
            href="https://coreui.io/"
            target="_blank"
          >
            View more
            <c-icon name="cil-arrow-right" width="16"></c-icon>
          </a>
        </c-card-footer>
      </c-widget-icon>
    </c-col>
  </c-row>

  <app-widgets-brand [noCharts]="true"></app-widgets-brand>
  <app-widgets-brand></app-widgets-brand>

  <c-card-group class="mb-4">
    <c-widget-progress-icon
      header="87.500"
      text="Visitors"
      color="gradient-info"
    >
      <c-icon name="cil-people" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="385"
      text="New Clients"
      color="gradient-success"
    >
      <c-icon name="cil-user-follow" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="1238"
      text="Products Sold"
      color="gradient-warning"
    >
      <c-icon name="cil-basket" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="28%"
      text="Returning Visitors"
    >
      <c-icon name="cil-chart-pie" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="5:34:11"
      text="Avg. Time"
      color="gradient-danger"
    >
      <c-icon name="cil-speedometer" height="36"></c-icon>
    </c-widget-progress-icon>
  </c-card-group>

  <c-card-group class="mb-4">
    <c-widget-progress-icon
      header="87.500"
      text="Visitors"
      color="gradient-info"
      [inverse]="true"
    >
      <c-icon name="cil-people" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="385"
      text="New Clients"
      color="gradient-success"
      [inverse]="true"
    >
      <c-icon name="cil-userFollow" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="1238"
      text="Products sold"
      color="gradient-warning"
      [inverse]="true"
    >
      <c-icon name="cil-basket" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="28%"
      text="Returning Visitors"
      color="gradient-primary"
      [inverse]="true"
    >
      <c-icon name="cil-chartPie" height="36"></c-icon>
    </c-widget-progress-icon>
    <c-widget-progress-icon
      header="5:34:11"
      text="Avg. Time"
      color="gradient-danger"
      [inverse]="true"
    >
      <c-icon name="cil-speedometer" height="36"></c-icon>
    </c-widget-progress-icon>
  </c-card-group>
  <c-row>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="87.500"
        text="Visitors"
        color="gradient-info"
      >
        <c-icon name="cil-people" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="385"
        text="New Clients"
        color="gradient-success"
      >
        <c-icon name="cil-userFollow" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="1238"
        text="Products sold"
        color="gradient-warning"
      >
        <c-icon name="cil-basket" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="28%"
        text="Returning Visitors"
        color="gradient-primary"
      >
        <c-icon name="cil-chartPie" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="5:34:11"
        text="Avg. Time"
        color="gradient-danger"
      >
        <c-icon name="cil-speedometer" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="972"
        text="comments"
        color="gradient-info"
      >
        <c-icon name="cil-speech" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
  </c-row>
  <c-row>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="87.500"
        text="Visitors"
        color="gradient-info"
        [inverse]="true"
      >
        <c-icon name="cil-people" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="385"
        text="New Clients"
        color="gradient-success"
        [inverse]="true"
      >
        <c-icon name="cil-userFollow" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="1238"
        text="Products sold"
        color="gradient-warning"
        [inverse]="true"
      >
        <c-icon name="cil-basket" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="28%"
        text="Returning Visitors"
        color="gradient-primary"
        [inverse]="true"
      >
        <c-icon name="cil-chartPie" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="5:34:11"
        text="Avg. Time"
        color="gradient-danger"
        [inverse]="true"
      >
        <c-icon name="cil-speedometer" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
    <c-col sm="6" md="2">
      <c-widget-progress-icon
        header="972"
        text="comments"
        color="gradient-info"
        [inverse]="true"
      >
        <c-icon name="cil-speech" height="36"></c-icon>
      </c-widget-progress-icon>
    </c-col>
  </c-row>

  <app-widgets-dropdown></app-widgets-dropdown>

  <c-row>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-line-simple style="height:40px;" color="danger"></app-chart-line-simple>
      </c-widget-simple>
    </c-col>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-line-simple style="height:40px;" color="primary"></app-chart-line-simple>
      </c-widget-simple>
    </c-col>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-line-simple style="height:40px;" color="success"></app-chart-line-simple>
      </c-widget-simple>
    </c-col>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-bar-simple style="height:40px;" color="danger"></app-chart-bar-simple>
      </c-widget-simple>
    </c-col>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-bar-simple style="height:40px;" color="primary"></app-chart-bar-simple>
      </c-widget-simple>
    </c-col>
    <c-col sm="4" lg="2">
      <c-widget-simple header="title" text="1,123">
        <app-chart-bar-simple style="height:40px;" color="success"></app-chart-bar-simple>
      </c-widget-simple>
    </c-col>
  </c-row>
</div>
